<div class="container py-8 md:py-8" id="lists">
  <div class="flex flex-row flex-start">
    <h2
      class="text-left font-header text-2xl font-semibold uppercase text-primary xs:text-2xl lg:text-3xl"
    >
      Most popular
    </h2>
    <h3
      class="text-left font-header text-lg font-medium text-black xs:text-base lg:text-l ml-4 pb-1 mt-auto"
    >
      by region
    </h3>
  </div>

  <div
    class="grid grid-cols-2 gap-4 pt-2 sm:grid-cols-2 md:gap-4 md:pt-2 lg:grid-cols-6"
  >
    <div class="group rounded px-4 py-2 shadow">
      <div class="mx-auto h-auto w-24 text-center xl:h-auto xl:w-28">
        <div>
          <img
            src="/assets/img/Revolut-Logo.wine.svg"
            alt="development icon"
          />
        </div>
      </div>
      <div class="text-center">
        <p
          class="pt-0 text-base font-semibold text-grey-10 lg:text-base"
        >
          Revolut
      </p>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="group rounded px-8 py-12 shadow hover:bg-primary">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block">
          <img
            src="/assets/img/N26_logo.svg"
            alt="content marketing icon"
          />
        </div>
        <div class="block group-hover:hidden">
          <img
            src="/assets/img/N26_logo.svg"
            alt="content marketing icon"
          />
        </div>
      </div>
      <div class="text-center">
        <h3
          class="pt-8 text-lg uppercase text-primary group-hover:text-yellow lg:text-xl"
        >
          Technical Writing
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="group rounded px-8 py-12 shadow hover:bg-primary">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block">
          <img
            src="/assets/img/icon-mobile-white.svg"
            alt="Mobile Application icon"
          />
        </div>
        <div class="block group-hover:hidden">
          <img
            src="/assets/img/icon-mobile-black.svg"
            alt="Mobile Application icon"
          />
        </div>
      </div>
      <div class="text-center">
        <h3
          class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl"
        >
          Mobile Development
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="group rounded px-8 py-12 shadow hover:bg-primary">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block">
          <img
            src="/assets/img/icon-email-white.svg"
            alt="Email Marketing icon"
          />
        </div>
        <div class="block group-hover:hidden">
          <img
            src="/assets/img/icon-email-black.svg"
            alt="Email Marketing icon"
          />
        </div>
      </div>
      <div class="text-center">
        <h3
          class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl"
        >
          Email Development
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="group rounded px-8 py-12 shadow hover:bg-primary">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block">
          <img
            src="/assets/img/icon-design-white.svg"
            alt="Theme Design icon"
          />
        </div>
        <div class="block group-hover:hidden">
          <img
            src="/assets/img/icon-design-black.svg"
            alt="Theme Design icon"
          />
        </div>
      </div>
      <div class="text-center">
        <h3
          class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl"
        >
          Graphic Design
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="group rounded px-8 py-12 shadow hover:bg-primary">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block">
          <img
            src="/assets/img/icon-graphics-white.svg"
            alt="Graphic Design icon"
          />
        </div>
        <div class="block group-hover:hidden">
          <img
            src="/assets/img/icon-graphics-black.svg"
            alt="Graphic Design icon"
          />
        </div>
      </div>
      <div class="text-center">
        <h3
          class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl"
        >
          Web Design
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>
