{% macro bankList(params) %}
<div class="container py-8 md:py-8" id="lists">
  <div class="flex flex-row flex-start flex-nowrap">
    <h2
      class="text-left font-header font-semibold uppercase wrap text-primary text-xl md:text-3xl px-0"
    >
      <a href="#"><i class="bx bx-chevron-right text-sm md:text-2xl text-primary"></i>{{params.title}}</a>
    </h2>
    <h3
      class="text-left font-header font-normal text-black text-sm md:text-xl ml-4 pb-1 mt-auto uppercase underline"
    >
      <a href="#">{{params.subtitle}}</a>
    </h3>
  </div>

  <div
    class="grid grid-cols-2 gap-4 pt-2 sm:grid-cols-2 md:gap-4 md:pt-2 lg:grid-cols-4 items-stretch"
  >
    {%- from "../card/bank.njk" import bankCard -%}
    {% for bank in params.banks %}
      {{ bankCard({
        attributes: bank.attributes,
        texts: params.texts
      }) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}