{% set popularBanks = [ 
    { 
      logo: '/assets/img/Revolut-Logo.wine.svg', title: 'Revolut', 
      attributes: [ 
      {name: 'Trust score', value: '3.5/10'},
      {name: 'Protection', value: 'FDC'} 
      ],
      tags: ['personal', 'business', 'teens', 'loans', 'invest']
    },
    { 
      logo: '/assets/img/N26_logo.svg', title: 'N26', 
      attributes: [ 
      {name: 'Trust score', value: '4.9/10'},
      {name: 'Protection', value: '-'} 
      ],
      tags: ['personal', 'teens']
    },
    { 
      logo: '/assets/img/wise.svg', title: 'Wise', 
      attributes: [ 
      {name: 'Trust score', value: '2.9/10'},
      {name: 'Protection', value: 'FDC'} 
      ],
      tags: ['personal', 'teens', 'multicurrency']
    },
    { 
      logo: '/assets/img/monese.svg', title: 'Monese', 
      attributes: [ 
      {name: 'Trust score', value: '5.0/10'},
      {name: 'Protection', value: 'FDC'} 
      ],
      tags: ['personal', 'multicurrency', 'invest']
    }
  ] 
%}
{% macro bankList(params) %}
<div class="container py-8 md:py-8" id="lists">
  <div class="flex flex-row flex-start flex-nowrap">
    <h2
      class="text-left font-header text-3xl font-semibold uppercase wrap text-primary xs:text-3xl lg:text-3xl px-0"
    >
      {{params.title}}
    </h2>
    <h3
      class="text-left font-header text-lg font-medium text-black xs:text-base lg:text-l ml-4 pb-1 mt-auto uppercase"
    >
      {{params.subtitle}}
    </h3>
  </div>

  <div
    class="grid grid-cols-2 gap-4 pt-2 sm:grid-cols-2 md:gap-4 md:pt-2 lg:grid-cols-4 items-stretch"
  >
    {%- from "../card/bank.njk" import bankCard -%}
    {% for bank in popularBanks %}
      {{bankCard(bank)}}
    {% endfor %}
  </div>
</div>
{% endmacro %}