{% macro bankRow(params) %} {% set bank = params.attributes %}
<div
  class="flex flex-row flex-wrap w-full items-center justify-start h-16 hover:bg-grey-50"
>
  <div class="w-20 flex items-center">
    <a href="/{{ bank.name | slugify }}" class="w-20">
      <img
        src="{{ bank.logo.data.attributes.url | safe }}"
        alt="{{ params.title }}"
      />
    </a>
  </div>

  <div class="self-center flex ml-6">
    <p
      class="pt-0 text-lg font-bold self-center inline-block antialiased font-body lg:text-lg"
    >
      <a href="/{{ bank.name | slugify }}">
        {{ bank.name }}
      </a>
    </p>
  </div>
  {% if bank.attributes.data | length %}
  <div class="self-center leading-3 flex flex-wrap ml-6 w-40 xl:w-auto">
    {% for tagAttr in bank.attributes.data %}
    <a href="/{{ bank.name | slugify }}">
      <span
        class="block mr-1 mt-1 text-xs rounded-md bg-lila px-1 py-1 text-grey-10"
        >{{ tagAttr.attributes.name }}</span
      >
    </a>
    {% endfor %}
  </div>
  {% endif %}
  <div
    class="self-center hidden lg:flex right leading-3 grow flex-wrap ml-6 w-40"
  >
    {% if bank.parameters.parameters | length %} {% for attribute in
    bank.parameters.parameters | trustScoreFromParams %}
    <div class="flex ml-auto mr-6 items-center justify-between my-2 flex-wrap">
      <p class="font-semibold text-grey-10 text-sm text-left">
        {{ attribute.name | noUnderscore }}: {{ attribute.value }}
      </p>
    </div>
    {% endfor %} {% endif %}
  </div>

  <div class="self-center ml-auto flex mr-2">
    <a
      href="/{{ bank.name | slugify }}"
      class="bg-lila-darker rounded-sm p-1 text-grey-20 font-semibold w-full mb-2 text-sm mt-2 uppercase"
    >
      <i class="bx bx-show-alt"></i>
      {{ params.texts.card_view_details }}
    </a>
  </div>
</div>
{% endmacro %}
