{% macro navLink(params) %}
<div class="hidden lg:block">
  <ul class="flex items-center">
    <li class="group pl-6">
      <a
        href="#"
        class="pt-0.5 font-header font-semibold uppercase text-white"
        >{{params.title}}</a>
    </li>
  </ul>
</div>
{% endmacro %}