{% macro navLinkMobile(params) %}
<li class="py-2">
  <a href="{{params.url}}"
    
    class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
    >{{params.title}}</
  >
</li>
{% endmacro %}