<div class="bg-grey-50" id="about">
  <div class="container flex flex-col items-top py-6 md:py-8 lg:flex-row">
    <div class="w-full text-center sm:w-3/4 lg:w-2/5 lg:text-left">
      <h2
        class="font-header text-3xl font-semibold uppercase text-primary sm:text-3xl lg:text-4xl"
      >
        Our Mission
      </h2>
      <h4
        class="pt-2 font-header text-xl font-medium text-black sm:text-xl lg:text-2xl"
      >
        We deliver the carefuly curated list of neo banks around the globe
      </h4>
      <p class="pt-6 font-body leading-relaxed text-grey-20">
        Having neobanking being rapidly emerging in the countries all around the
        world, we define our mission as delivering the carefully curated and
        updated list of modern neobanks along with the most important details about them
      </p>
      {#% include './_social.njk' %#}
    </div>
    <div class="w-full pl-0 pt-10 sm:w-3/4 lg:w-3/5 lg:pl-12 lg:pt-0">
      
    </div>
  </div>
</div>
