<div class="bg-grey-50" id="about">
  <div class="container flex flex-col items-top py-6 md:py-8 lg:flex-row">
    <div class="w-full text-center hidden md:block lg:block md:w-1/2 lg:text-left">
      <h2
        class="font-header text-3xl font-semibold uppercase text-primary sm:text-3xl lg:text-4xl"
      >
        <i class="bx bx-cube-alt bx-sm mr-1 text-primary leading-10"></i>
      {{ texts.title }}
      </h2>
      <h4
        class="pt-2 font-header text-xl font-medium text-black sm:text-xl lg:text-2xl"
      >
        {{ texts.heading }}
      </h4>
      <p class="pt-4 font-body leading-relaxed text-grey-20">
        {{ texts.sub_heading }}
      </p>
      {#% include './_social.njk' %#}
    </div>
    <div class="w-full text-center hidden text-primary smx:block uppercase">
      <p class="pt-2 pb-4 font-header font-medium text-black text-md leading-relaxed">
        {{ texts.heading_mobile }}
      </p>
      
    </div>
    <div class="w-full pl-0 sm:w-full md:w-1/2 lg:pl-12">
      <div>
        <h2 class="font-header text-xl md:text-3xl uppercase text-primary font-semibold px-4 mb-4">
          <i class="bx bx-wallet text-md md:text-2xl mr-1 mt-1 text-primary leading-5 md:leading-7"></i>
          {{ texts.right_title }}
        </h2>
        <div class="flex items-top lg:flex-row flex-wrap">

          {% for item in regions %}
          <div class="w-1/2 px-4">
            <div class="flex items-end justify-between now">
              <h4 class="font-body font-semibold text-xs md:text-base uppercase text-black">
                <a href="#">{{ item.name }}</a>
              </h4>
              <h3 class="font-body text-xs md:text-base font-bold text-primary"><a href="#">{{item.count}}</a></h3>
            </div>
          </div>  
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
</div>
