---
layout: layout.njk
title: NeoBankExpert.com
eleventyNavigation:
  key: Home
---

{% include '_includes/components/about/index.njk' %} {%- from
"_includes/components/lists/index.njk" import bankList -%}

{{
  bankList({
    title: "personal",
    banks: topBanks.personal,
    texts: texts,
    subtitle: "view all"
  })
}}

{{
  bankList({
    title: "business",
    banks: topBanks.business,
    texts: texts,
    subtitle: "view all"
  })
}}

{%- from "_includes/components/subscribe/index.njk" import subscribeEmail -%}
{{
  subscribeEmail({
    texts: texts
  })
}}

{% include '_includes/components/footer/index.njk' %}
